@media screen and (max-width: 980px) {
	* {
		box-sizing: border-box;
	}

	.innerHead {
		padding: 0 80px;
	}

	.container {
		padding-left: 80px;
		padding-right: 80px;
	}

	.primaryBox {
		width: 530px;
	}

	.socialBox {
		width: 230px;
	}
}