@media screen and (max-width: 768px) {
	* {
		box-sizing: border-box;
	}

	.innerHead {
		padding: 0 0px;
	}

	.container {
		padding-left: 15px;
		padding-right: 25px;
	}

	.primaryBox {
		width: 728px;
		margin-bottom: 20px;
	}

	.socialBox {
		width: 728px;
		margin-bottom: 20px;
	}

	.socialBtn {
		width: 15%;
	}

	.hs {
	max-width: 190px;
	float: left;
	margin-right: 20px;
	margin-left: 0px;
	}

	.leftCol {
		margin-left: 38px;
		margin-right: 20px;
	}

	.rightCol {
		margin-right: 38px;
		margin-left: 20px;
	}

	.portBtn {
	width: 285px;
}
}